In [ ]:
import pandas as pd
import numpy as np
from scipy .stats import zscore
import statistics
data=pd.read_csv("Life Expectancy Data.csv") #upload your file directly via upload button on left
data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [ ]:
data=data.interpolate() #dont drop null values, fill them up

In [ ]:
data.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [ ]:
!pip install pycountry-convert

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycountry-convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Collecting pprintpp>=0.3.0 (from pycountry-convert)
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Collecting pycountry>=16.11.27.1 (from pycountry-convert)
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 51.3 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from pycountry-convert) (7.2.2)
Collecting pytest-mock>=1.6.3 (from pycountry-convert)
  Downloading pytest_mock-3.11.1-py3-none-any.whl (9.6 kB)
Collecting pytest-cov>=2.5.1 (from pycountry-convert)
  Downloading pytest_cov-4.1.0-py3-none-any.whl (21 kB)
Collecting repoze.lru>=0.7 (from pycountry-convert)
  Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.10/dist-packages (from pycountry-convert) (0.40.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from pycountry>=16.11.27.1->pycountry-convert) (67.7.2)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (23.1.0)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (23.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.0.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.1.1)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.0.1)
Collecting coverage[toml]>=5.2.1 (from pytest-cov>=2.5.1->pycountry-convert)
  Downloading coverage-7.2.7-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (228 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 228.7/228.7 kB 11.9 MB/s eta 0:00:00
Building wheels for collected packages: pycountry
  Building wheel for pycountry (pyproject.toml) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681832 sha256=ed881aef86cdbacbbdfd1dc973a7e5c7e93730d2ea341b79904b2d67227be1c6
  Stored in directory: /root/.cache/pip/wheels/03/57/cc/290c5252ec97a6d78d36479a3c5e5ecc76318afcb241ad9dbe
Successfully built pycountry
Installing collected packages: repoze.lru, pprintpp, pycountry, coverage, pytest-mock, pytest-cov, pycountry-convert
Successfully installed coverage-7.2.7 pprintpp-0.4.0 pycountry-22.3.5 pycountry-convert-0.7.2 pytest-cov-4.1.0 pytest-mock-3.11.1 repoze.lru-0.7

In [ ]:
#continent-wise split
import pycountry_convert as pc

countries=data['Country'].unique()
continents = []
for country in countries:
  flag=0
  if country=='Bolivia (Plurinational State of)':
    country='Bolivia'
  elif country=='Iran (Islamic Republic of)':
    country='Iran'
  elif country=='Micronesia (Federated States of)':
    country='Micronesia'
  elif country=='Republic of Korea':
    country='South Korea'
  elif country=='The former Yugoslav republic of Macedonia':
    country='North Macedonia'
  elif country=='Venezuela (Bolivarian Republic of)':
    country='Venezuela'
  elif country=='Timor-Leste':
    continents.append('Asia')
    flag=1

  if flag==0:
    country_alpha2 = pc.country_name_to_country_alpha2(country)
    continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    continent_name = pc.convert_continent_code_to_continent_name(continent_code)
    continents.append(continent_name)

africa,asia,europe,namerica,samerica,australia=[],[],[],[],[],[]
for c in range(len(continents)):
  if continents[c]=='Asia':
    asia.append(countries[c])

  elif continents[c]=='Africa':
    africa.append(countries[c])

  elif continents[c]=='Europe':
    europe.append(countries[c])

  elif continents[c]=='North America':
    namerica.append(countries[c])

  elif continents[c]=='South America':
    samerica.append(countries[c])

  elif continents[c]=='Oceania':
    australia.append(countries[c])

In [ ]:
df=data
#dataset of African countries
africa_df = df[df['Country'].isin(africa)]


#dataset of Asian countries
asia_df = df[df['Country'].isin(asia)]

#dataset of Australian countries
aus_df = df[df['Country'].isin(australia)]

#dataset of European countries
eu_df = df[df['Country'].isin(europe)]

#dataset of North American countries
na_df = df[df['Country'].isin(namerica)]

#dataset of South American countries
sa_df = df[df['Country'].isin(samerica)]

#continent dataframe list
continent_dfs = [africa_df, asia_df, eu_df, na_df, sa_df, aus_df]

#list of continent names
continents = ['Africa', 'Asia', 'Europe', 'North America', 'South America', 'Australia']

# New Section

In [ ]:
## TTEST FOR TWO SAMPLE MEANS

In [ ]:
import numpy as np
n=data.sample(frac =.01)
n

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2792,United Republic of Tanzania,2001,Developing,49.6,46.0,110,4.090,0.000000,90.000000,11847,...,65.0,3.280,87.0,12.5,11060.264347,1.609920e+07,8.2,8.1,0.792898,14.140816
1762,Morocco,2001,Developing,69.0,155.0,26,0.460,71.116450,84.000000,2724,...,93.0,4.440,96.0,0.1,1336.775376,2.918183e+07,6.7,6.5,0.530000,8.500000
1673,Mauritius,2009,Developing,72.8,166.0,0,2.830,624.236183,99.000000,15,...,99.0,4.970,99.0,0.1,7318.126410,1.247429e+06,7.3,7.3,0.734000,13.800000
2175,Saint Lucia,2008,Developing,74.1,149.0,0,12.090,0.000000,96.000000,0,...,96.0,7.430,96.0,0.1,1257.311461,1.120046e+05,4.3,4.4,0.710000,12.600000
753,Djibouti,2015,Developing,63.5,241.0,1,6.035,0.000000,84.000000,47,...,84.0,5.135,84.0,2.1,1862.167274,9.274140e+05,5.6,5.4,0.470000,6.300000
740,Denmark,2012,Developed,80.0,76.0,0,9.260,928.417079,42.291667,2,...,94.0,1.980,94.0,0.1,5857.521000,5.591572e+06,1.1,0.9,0.922000,18.400000
1599,Malaysia,2002,Developing,72.9,14.0,4,0.490,216.702948,95.000000,408,...,94.0,3.400,94.0,0.1,4167.364387,2.419881e+07,9.5,9.3,0.723000,12.000000
684,Cyprus,2004,Developed,78.6,65.0,0,13.030,1586.724172,88.000000,0,...,98.0,6.420,98.0,0.1,23932.491280,1.141000e+03,0.9,1.0,0.823000,13.400000
2482,Suriname,2006,Developing,69.3,199.0,0,4.520,72.800168,84.000000,0,...,84.0,6.220,84.0,0.6,527.920000,5.437000e+03,3.5,3.4,0.678000,11.500000
1241,Iraq,2008,Developing,69.3,167.0,32,0.170,192.156300,66.000000,5494,...,71.0,3.930,69.0,0.1,4521.324700,2.911142e+07,5.4,5.1,0.638000,10.300000
801,Ecuador,2000,Developing,72.8,163.0,9,3.990,84.175270,36.000000,0,...,83.0,3.380,87.0,0.3,1451.297760,1.262860e+07,1.6,1.5,0.668000,12.400000
2544,Syrian Arab Republic,2008,Developing,73.8,122.0,8,0.800,0.000000,83.000000,19,...,83.0,3.400,79.0,0.1,4431.117496,2.325443e+06,6.4,6.2,0.651000,11.600000
1754,Morocco,2009,Developing,72.3,116.0,20,0.620,188.290286,98.000000,834,...,99.0,5.670,99.0,0.1,2861.554500,3.198990e+07,6.4,6.2,0.596000,10.500000
2675,Tunisia,2005,Developing,74.2,14.0,3,1.370,379.513995,97.000000,15,...,98.0,5.570,98.0,0.1,3194.562243,1.124820e+05,6.4,6.3,0.683000,13.900000
997,Germany,2012,Developed,86.0,71.0,2,11.180,839.913320,88.000000,166,...,94.0,1.990,95.0,0.1,4465.248910,8.425823e+06,1.1,1.1,0.916000,16.900000
467,Cambodia,2012,Developing,67.4,186.0,12,0.010,6.914724,86.000000,15,...,84.0,6.240,86.0,0.3,95.244132,1.477687e+07,11.0,11.2,0.540000,10.700000
2253,Senegal,2011,Developing,64.9,26.0,20,0.320,1.431052,92.000000,18,...,89.0,4.420,92.0,0.4,18.253210,1.339100e+04,1.2,1.1,0.455000,7.900000
1250,Ireland,2015,Developed,81.4,64.0,0,5.475,0.000000,95.000000,4,...,95.0,7.096,95.0,0.1,6664.144000,4.676835e+06,0.3,0.2,0.920000,18.600000
2611,Timor-Leste,2005,Developing,63.7,26.0,3,0.360,7.127145,82.000000,203,...,55.0,1.500,55.0,0.1,478.331859,1.264840e+05,12.0,11.9,0.492000,10.600000
469,Cambodia,2010,Developing,66.6,192.0,14,2.200,56.884165,89.000000,1156,...,88.0,5.950,89.0,0.5,785.692884,1.438740e+05,11.0,11.3,0.519000,10.600000
2106,Republic of Moldova,2012,Developing,79.0,175.0,1,10.680,0.000000,94.000000,11,...,92.0,11.870,92.0,0.1,17242.350344,1.490053e+07,2.7,2.9,0.801939,14.030303
1646,Malta,2003,Developed,78.5,71.0,0,6.700,1678.392773,89.000000,4,...,94.0,8.600,94.0,0.1,13689.989990,3.985820e+05,0.7,0.7,0.790000,13.800000
408,Burkina Faso,2007,Developing,55.3,293.0,46,4.580,73.927306,89.000000,12,...,93.0,6.630,89.0,1.7,475.111220,1.425221e+06,9.8,9.3,0.334000,4.900000
887,Ethiopia,2010,Developing,61.8,261.0,162,1.340,67.733744,62.000000,4235,...,69.0,6.860,61.0,1.7,341.399920,8.772670e+05,11.0,1.7,0.401000,8.100000
2135,Russian Federation,2015,Developing,75.0,222.0,13,10.140,0.000000,97.000000,843,...,97.0,6.015,97.0,0.1,9329.298351,1.449687e+06,2.3,2.3,0.805000,15.000000
2478,Suriname,2010,Developing,73.0,19.0,0,5.260,99.080954,86.000000,0,...,96.0,5.810,96.0,0.5,833.313320,5.261300e+04,3.5,3.4,0.700000,12.300000
741,Denmark,2011,Developed,79.7,79.0,0,10.470,10251.108720,45.500000,84,...,91.0,1.870,91.0,0.1,61753.667000,5.575720e+05,1.1,0.9,0.910000,16.900000
2254,Senegal,2010,Developing,64.3,212.0,21,0.280,1.020072,89.000000,428,...,76.0,4.620,89.0,0.4,11.631377,1.291623e+07,1.4,1.3,0.449000,7.700000
1068,Guatemala,2005,Developing,69.2,28.0,14,2.350,41.508456,87.000000,0,...,87.0,6.790,87.0,0.4,277.834380,1.396280e+05,1.4,1.4,0.567000,9.600000

In [ ]:
m=data.sample(frac =.01)
m

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1374,Kenya,2003,Developing,52.4,437.0,74,1.49,35.852047,73.000000,65,...,75.000000,4.45,73.000000,14.5,436.687536,3.413852e+06,8.8,8.8,0.450,8.2
249,Belgium,2006,Developed,79.4,85.0,0,10.98,5579.199083,94.000000,15,...,99.000000,9.17,98.000000,0.1,38852.361300,1.547958e+06,0.8,0.8,0.865,15.7
1670,Mauritius,2012,Developing,73.9,154.0,0,0.01,915.185920,98.000000,0,...,98.000000,4.76,98.000000,0.1,9291.227619,1.255882e+06,7.1,7.0,0.756,14.3
1599,Malaysia,2002,Developing,72.9,14.0,4,0.49,216.702948,95.000000,408,...,94.000000,3.40,94.000000,0.1,4167.364387,2.419881e+07,9.5,9.3,0.723,12.0
853,Eritrea,2012,Developing,63.6,274.0,6,0.01,0.000000,94.000000,194,...,94.000000,2.98,94.000000,0.6,500.757408,4.808398e+05,8.7,8.6,0.410,5.0
174,Bahamas,2001,Developing,72.9,189.0,0,11.64,0.000000,21.000000,0,...,98.000000,5.15,99.000000,0.2,20096.771897,7.377587e+05,2.7,2.6,0.779,12.1
2606,Timor-Leste,2010,Developing,66.9,163.0,2,0.10,38.583766,72.000000,50,...,72.000000,0.92,72.000000,0.1,849.862697,1.195910e+05,11.5,11.5,0.599,12.4
377,Brunei Darussalam,2006,Developing,76.3,93.0,0,0.67,24.975329,99.000000,0,...,94.000000,2.24,97.000000,0.1,398.966920,7.639959e+07,6.3,5.8,0.837,14.3
1034,Greece,2007,Developing,79.4,8.0,0,9.67,3632.243121,95.000000,2,...,99.000000,9.41,99.000000,0.1,28827.326360,1.148473e+06,0.8,0.7,0.855,16.4
478,Cambodia,2001,Developing,58.5,273.0,25,1.71,27.689711,62.285714,3761,...,59.000000,5.70,6.000000,2.2,321.226340,1.242473e+06,11.6,11.8,0.412,7.6
2736,Ukraine,2009,Developing,69.2,231.0,5,8.71,324.549135,66.000000,0,...,74.000000,7.80,71.000000,0.3,2545.483410,4.653300e+04,2.5,2.6,0.734,14.9
73,Antigua and Barbuda,2006,Developing,74.8,145.0,0,8.93,216.314694,99.000000,0,...,99.000000,4.34,99.000000,0.1,12724.393770,2.621718e+07,3.4,3.4,0.773,14.7
2086,Qatar,2000,Developing,76.2,88.0,0,0.50,1559.287158,89.000000,46,...,91.000000,2.18,8.000000,0.1,29986.291500,7.339068e+06,4.8,4.5,0.808,13.0
2595,The former Yugoslav republic of Macedonia,2005,Developing,73.6,12.0,0,1.75,0.000000,53.000000,5,...,98.000000,7.95,97.000000,0.1,761.461871,2.302922e+06,2.5,2.6,0.000,11.9
2445,Sri Lanka,2011,Developing,74.5,141.0,3,3.03,20.833024,99.000000,60,...,99.000000,3.28,99.000000,0.1,322.992615,2.271000e+03,15.3,15.3,0.746,13.6
749,Denmark,2003,Developed,77.3,11.0,0,11.54,650.981354,71.166667,0,...,96.000000,9.51,96.000000,0.1,4458.776400,5.395740e+05,1.2,1.0,0.882,16.3
2060,Portugal,2010,Developed,79.6,88.0,0,12.25,3119.349824,97.000000,5,...,97.000000,1.44,98.000000,0.1,22538.654800,1.573100e+04,0.7,0.5,0.812,16.0
1452,Latvia,2005,Developed,76.0,216.0,0,9.92,86.925540,99.000000,2,...,99.000000,6.37,99.000000,0.1,7558.742600,2.238799e+06,2.5,2.5,0.791,15.9
1465,Lebanon,2008,Developing,74.5,98.0,1,1.67,69.139249,81.000000,24,...,75.000000,8.70,81.000000,0.1,712.775759,4.111470e+05,4.7,4.7,0.740,13.1
1990,Papua New Guinea,2000,Developing,58.9,335.0,11,0.73,62.562738,57.000000,7135,...,51.000000,3.98,59.000000,1.1,631.946853,5.572222e+06,1.6,1.5,0.418,6.2
1971,Panama,2003,Developing,75.5,126.0,1,5.52,58.459760,98.000000,0,...,95.000000,7.60,98.000000,0.1,4267.135780,3.291740e+05,2.2,2.2,0.728,12.8
84,Argentina,2011,Developing,75.7,12.0,9,8.11,1504.329462,91.000000,3,...,93.000000,5.89,91.000000,0.1,12726.983600,4.165688e+07,1.0,0.9,0.816,17.1
1794,Myanmar,2001,Developing,62.5,239.0,72,0.38,1.917164,50.000000,2519,...,77.000000,1.80,73.000000,0.4,138.924927,4.662799e+07,13.3,13.7,0.427,7.6
406,Burkina Faso,2009,Developing,56.9,283.0,44,4.55,81.143047,92.000000,54118,...,91.000000,7.41,92.000000,1.1,552.745552,1.514199e+06,9.3,8.8,0.356,5.9
201,Bangladesh,2006,Developing,68.2,152.0,164,0.01,42.330455,86.000000,6192,...,95.000000,2.80,94.000000,0.1,494.514660,1.453684e+06,19.7,2.3,0.506,8.4
218,Barbados,2005,Developing,73.9,117.0,0,8.01,1311.440423,92.000000,0,...,91.000000,5.38,92.000000,0.1,14223.865760,5.258078e+07,4.0,4.0,0.761,14.6
2197,Saint Vincent and the Grenadines,2002,Developing,79.0,186.0,0,4.94,0.000000,38.000000,0,...,99.000000,3.93,99.000000,0.4,3802.317206,1.839485e+05,3.9,3.8,0.677,12.9
171,Bahamas,2004,Developing,73.8,174.0,0,10.10,0.000000,93.000000,0,...,92.000000,6.20,93.000000,0.1,16208.612383,5.919042e+05,2.6,2.5,0.784,12.3
1745,Montenegro,2002,Developing,73.4,136.0,0,0.01,36.480240,60.428571,0,...,60.428571,8.33,60.428571,0.1,216.243274,6.982800e+04,2.5,2.5,0.000,0.0

In [ ]:
# Should a country having a lower life expectancy value(<65)
# increase its healthcare expenditure in order to improve its average lifespan?
import pandas as pd
import numpy as np
from scipy import stats
sample1 = n['Life expectancy ']
sample2 = n['Total expenditure']

t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: 43.05727353087781
P-Value: 1.2969620342987684e-44

In [ ]:
if p_value<t_statistic:
  print("THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND TOTAL EXPENDITURE")
else:
   print("THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND TOTAL EXPENDITURE")

THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND TOTAL EXPENDITURE

In [ ]:
m=data.sample(frac =.01)
m

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1905,Nigeria,2003,Developing,48.1,41.0,567,9.750,30.195508,45.000000,141258,...,42.0,4.500,29.0,5.4,512.657190,1.319725e+08,13.500000,13.600000,0.000,8.1
2516,Sweden,2004,Developed,83.0,7.0,0,6.600,5793.363644,41.750000,5,...,99.0,9.900,99.0,0.1,42442.224500,8.993531e+06,1.300000,1.300000,0.888,16.0
1228,Iran (Islamic Republic of),2005,Developing,72.0,139.0,27,0.010,0.000000,94.000000,7,...,95.0,6.600,95.0,0.1,3246.501585,3.083522e+07,7.400000,7.700000,0.687,11.4
869,Estonia,2012,Developing,76.3,135.0,0,0.010,2263.103797,94.000000,4,...,94.0,6.360,94.0,0.1,17421.892200,1.322696e+06,1.900000,1.900000,0.850,16.5
1393,Kiribati,2000,Developing,64.1,222.0,0,0.460,11.075433,9.000000,0,...,9.0,8.120,9.0,0.1,796.793763,8.446000e+03,0.200000,0.200000,0.000,10.0
415,Burkina Faso,2000,Developing,51.0,348.0,48,3.710,19.839296,91.428571,6074,...,45.0,5.600,45.0,4.0,226.475981,1.167942e+06,11.400000,11.100000,0.000,3.4
2811,Uruguay,2014,Developing,76.8,117.0,0,6.030,463.639782,95.000000,0,...,95.0,8.580,95.0,0.1,16737.898270,3.419546e+06,1.500000,1.400000,0.791,15.5
2204,Samoa,2011,Developing,73.0,139.0,0,2.150,558.720649,58.000000,0,...,6.0,5.800,65.0,0.1,3942.982700,1.876650e+05,0.200000,0.100000,0.693,12.9
1586,Malaysia,2015,Developing,75.0,123.0,4,0.850,0.000000,99.000000,1318,...,99.0,5.435,99.0,0.1,9643.644683,3.723155e+06,7.500000,7.300000,0.787,13.1
120,Australia,2007,Developed,81.3,66.0,1,10.560,872.598609,94.000000,11,...,92.0,8.530,92.0,0.1,4991.982890,2.827600e+04,0.700000,0.600000,0.918,19.0
1058,Guatemala,2015,Developing,71.9,186.0,10,5.640,0.000000,74.000000,0,...,9.0,6.410,74.0,0.4,3923.573344,1.625243e+07,1.200000,1.200000,0.637,10.7
526,Central African Republic,2001,Developing,45.6,54.0,17,1.520,33.653157,45.200000,2837,...,4.0,3.950,4.0,13.9,243.158649,3.832230e+05,1.400000,1.400000,0.314,5.3
2740,Ukraine,2005,Developing,67.0,278.0,5,7.310,217.434526,97.000000,2392,...,95.0,6.410,96.0,0.9,1828.717626,4.715150e+05,2.700000,2.800000,0.707,14.5
1888,Niger,2004,Developing,52.9,279.0,56,0.110,20.861184,60.000000,63057,...,45.0,6.610,43.0,1.6,232.566157,1.312712e+06,12.100000,12.000000,0.270,3.1
1480,Lesotho,2009,Developing,49.4,566.0,4,2.750,104.314473,91.000000,0,...,89.0,9.800,91.0,18.2,923.136931,2.192900e+04,7.600000,7.400000,0.453,10.8
1316,Japan,2013,Developed,83.5,56.0,2,7.550,94.434286,54.900000,229,...,99.0,1.250,96.0,0.1,4454.447460,1.274450e+05,2.000000,1.700000,0.894,15.3
101,Armenia,2010,Developing,73.5,132.0,1,4.230,224.321201,94.000000,2,...,96.0,4.560,94.0,0.1,3218.381655,2.877311e+06,2.000000,2.100000,0.720,12.3
88,Argentina,2007,Developing,74.8,129.0,10,8.160,1105.659031,85.000000,0,...,92.0,6.490,91.0,0.1,7193.617640,3.997224e+06,1.100000,0.900000,0.788,16.3
1961,Panama,2013,Developing,77.5,118.0,1,6.890,1694.467075,8.000000,0,...,81.0,8.900,8.0,0.1,11685.979830,3.838462e+06,1.900000,1.900000,0.773,12.9
2411,South Sudan,2013,Developing,56.4,345.0,26,6.085,47.444530,39.250000,525,...,5.0,2.620,45.0,3.6,1186.113250,1.117749e+06,13.529412,15.817647,0.417,4.9
1827,Nepal,2001,Developing,63.2,23.0,43,0.090,21.928139,48.000000,10849,...,73.0,5.360,72.0,0.1,248.618354,2.416178e+07,18.300000,19.000000,0.446,9.0
2490,Swaziland,2014,Developing,58.4,382.0,2,0.010,574.389510,98.000000,0,...,98.0,9.250,98.0,7.3,3464.351690,1.295970e+05,4.300000,4.300000,0.541,11.4
1064,Guatemala,2009,Developing,76.0,198.0,12,2.140,445.442337,92.000000,0,...,92.0,6.790,92.0,0.4,2635.753474,1.431628e+06,1.300000,1.300000,0.596,10.4
1870,Nicaragua,2006,Developing,73.0,17.0,3,3.690,21.411235,88.000000,0,...,88.0,6.330,88.0,0.3,124.992617,5.452110e+05,2.000000,1.900000,0.597,11.0
1883,Niger,2009,Developing,57.1,263.0,51,0.110,5.665405,71.000000,801,...,71.0,6.980,71.0,1.1,341.289462,1.581391e+07,11.000000,1.800000,0.307,4.2
2521,Switzerland,2015,Developed,83.4,49.0,0,7.905,0.000000,41.571429,35,...,97.0,9.920,97.0,0.1,8989.842400,8.282396e+06,0.400000,0.300000,0.938,16.0
2635,Tonga,2013,Developing,73.2,137.0,0,0.010,584.944989,82.000000,0,...,84.0,4.980,82.0,0.1,4266.557174,1.532800e+04,0.100000,0.100000,0.718,14.3
761,Djibouti,2007,Developing,59.8,296.0,1,0.450,20.868787,25.000000,24,...,88.0,7.720,88.0,3.5,147.586896,8.942000e+03,5.800000,5.700000,0.416,4.5
163,Bahamas,2012,Developing,74.9,167.0,0,9.500,0.000000,96.000000,0,...,99.0,7.430,98.0,0.2,5840.187012,2.029587e+05,2.500000,2.500000,0.789,12.6

In [ ]:
# How does Adult mortality rates affect life expectancy?
import numpy as np
from scipy import stats

sample1 = m['Life expectancy ']
sample2 = m['Adult Mortality']
t_statistic, p_value = stats.ttest_ind(sample1, sample2)

print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: -4.336071515847956
P-Value: 6.1022886953595353e-05

In [ ]:
if p_value<t_statistic:
  print("THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND ADULT MORTALITY ")
else:
   print("THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND ADULT MORTALITY ")

THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND ADULT MORTALITY

In [ ]:
# How does Infant death  rates affect life expectancy?
import numpy as np
from scipy import stats

m=data.sample(frac =.01)
sample1 = m['Life expectancy ']
sample2 = m['infant deaths']
t_statistic, p_value = stats.ttest_ind(sample1, sample2)

print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: 20.278253166255936
P-Value: 1.801384974950115e-27

In [ ]:
if p_value<t_statistic:
  print("THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND INFANT DEATHS")
else:
   print("THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND INFANT DEATHS")

THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND INFANT DEATHS

In [ ]:
# How does BMI rates affect life expectancy?
import numpy as np
from scipy import stats

n=data.sample(frac =.01)
sample1 = n['Life expectancy ']
sample2 = n[' BMI ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: 6.339695254941806
P-Value: 4.235709901364e-08

In [ ]:
if p_value<t_statistic/2:
  print("THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND BMI")
else:
   print("THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND BMI")

THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND BMI

In [ ]:
# What is the impact of schooling on the lifespan of humans?
import numpy as np
from scipy import stats

n=data.sample(frac =.01)
sample1 = n['Life expectancy ']
sample2 = n['Schooling']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: 35.23596069443138
P-Value: 6.557299932740002e-40

In [ ]:
if p_value<t_statistic/2:
  print("THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND SCHOOLING")
else:
   print("THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND SCHOOLING")

THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND SCHOOLING

In [ ]:
# Does Life Expectancy have positive or negative relationship with drinking alcohol?
import numpy as np
from scipy import stats
m=data.sample(frac =.01)
sample1 = m['Life expectancy ']
sample2 = m['Alcohol']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: 30.686608801889218
P-Value: 1.0367243630612591e-36

In [ ]:
if abs(p_value)<t_statistic:
  print("THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND ALCOHOL")
else:
   print("THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND ALCOHOL")

THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND ALCOHOL

In [ ]:
# Do densely populated countries tend to have lower life expectancy?
import numpy as np
from scipy import stats

m=data.sample(frac =.01)
sample1 = m['Life expectancy ']
sample2 = m['Population']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: -3.056315822171431
P-Value: 0.0034301275967095037

In [ ]:
if p_value<t_statistic/2:
  print("THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND POPULATION")
else:
   print("THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND POPULATION")

THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND POPULATION

In [ ]:
# What is the impact of Income composition of resources on life Expectancy?

import numpy as np
from scipy import stats

n=data.sample(frac =.01)
sample1 = n['Life expectancy ']
sample2 = n['Income composition of resources']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: 36.547355809153956
P-Value: 9.21337825295634e-41

In [ ]:
if p_value<t_statistic/2:
  print("THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND INCOME DECOMPOSITON OF RESOURCES")
else:
   print("THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND INCOME DECOMPOSITION OF RESOURCES")

THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND INCOME DECOMPOSITON OF RESOURCES

In [ ]:
import numpy as np
from scipy import stats

sample1 = m['Life expectancy ']
sample2 = m['Polio']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic/2:
  print("THERE IS SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND POLIO")
else:
   print("THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND POLIO")

T-Statistic: -3.929810810207791
P-Value: 0.00023600097430873576
THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN LIFE EXPECTANCY AND POLIO

In [ ]:
#Does reduction in adult mortality and HIV/AIDS increase life expectancy?

In [ ]:
import numpy as np
from scipy import stats

sample1 = africa_df['Adult Mortality']
sample2 = africa_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("THEREFORE REDUCTION IN ADULT MORTALITY INCREASES LIFEEXPECTANCY")
else:
   print("THEREFORE REDUCTION IN ADULT MORTALITY DECCREASES LIFEEXPECTANCY")

T-Statistic: 38.99879232719259
P-Value: 4.126831555120341e-239
THEREFORE REDUCTION IN ADULT MORTALITY INCREASES LIFEEXPECTANCY

In [ ]:
import numpy as np
from scipy import stats

sample1 = africa_df[' HIV/AIDS']
sample2 = africa_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("THEREFORE REDUCTION IN HIV/AIDS INCREASES LIFEEXPECTANCY")
else:
   print("THEREFORE REDUCTION IN HIV/AIDS DECREASES LIFEEXPECTANCY")

T-Statistic: -135.8791400778168
P-Value: 0.0
THEREFORE REDUCTION IN HIV/AIDS DECREASES LIFEEXPECTANCY

In [ ]:
import numpy as np
from scipy import stats

sample1 = africa_df['Polio']
sample2 = africa_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("THEREFORE REDUCTION IN POLIO INCREASES LIFEEXPECTANCY")
else:
   print("THEREFORE REDUCTION IN POLIO DECREASES LIFEEXPECTANCY")

T-Statistic: 13.158608591477465
P-Value: 9.347859825106133e-38
THEREFORE REDUCTION IN POLIO INCREASES LIFEEXPECTANCY

In [ ]:
#Does increase in BMI, income composition of resources, Polio, Diphtheria and schooling increase life expectancy?

In [ ]:
import numpy as np
from scipy import stats

sample1 = africa_df['Diphtheria ']
sample2 = africa_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("THEREFORE REDUCTION IN DIPHTHERIA INCREASES LIFEEXPECTANCY")
else:
   print("THEREFORE REDUCTION IN DIPHTHERIA DECCREASES LIFEEXPECTANCY")

T-Statistic: 11.562319592288505
P-Value: 7.78764311071136e-30
THEREFORE REDUCTION IN DIPHTHERIA INCREASES LIFEEXPECTANCY

In [ ]:
import numpy as np
from scipy import stats

sample1 = africa_df['Polio']
sample2 = africa_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("THEREFORE REDUCTION IN POLIO INCREASES LIFEEXPECTANCY")
else:
   print("THEREFORE REDUCTION IN POLIO DECREASES LIFEEXPECTANCY")

T-Statistic: 13.158608591477465
P-Value: 9.347859825106133e-38
THEREFORE REDUCTION IN POLIO INCREASES LIFEEXPECTANCY

In [ ]:
import numpy as np
from scipy import stats

sample1 = africa_df['Schooling']
sample2 = africa_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("THEREFORE REDUCTION IN SCHOOLING INCREASES LIFEEXPECTANCY")
else:
   print("THEREFORE REDUCTION IN SCHOOING DECREASES LIFEEXPECTANCY")

T-Statistic: -167.69849813828188
P-Value: 0.0
THEREFORE REDUCTION IN SCHOOING DECREASES LIFEEXPECTANCY

In [ ]:
import numpy as np
from scipy import stats

sample1 = africa_df[' BMI ']
sample2 = africa_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("THEREFORE REDUCTION IN BMI INCREASES LIFEEXPECTANCY")
else:
   print("THEREFORE REDUCTION IN BMI DECREASES LIFEEXPECTANCY")

T-Statistic: -67.09235826952984
P-Value: 0.0
THEREFORE REDUCTION IN BMI DECREASES LIFEEXPECTANCY

In [ ]:
#Does schooling have significant impact on income composition of resources?

In [ ]:
import numpy as np
from scipy import stats

sample1 = africa_df['Schooling']
sample2 = africa_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic/2:
  print("Therefore schooling have significant impact on income composition of resources")
else:
   print("Therefore schooling don't have significant impact on income composition of resources")

T-Statistic: -167.69849813828188
P-Value: 0.0
Therefore schooling don't have significant impact on income composition of resources

In [ ]:

#Does reduction in adult mortality and thinness in both age categories increase life expectancy?
#Do developed countries have better life expectancy?
#Does increase in schooling and income composition of resources increase life expectancy?
#Does schooling have significant impact on income composition of resources?

In [ ]:
import numpy as np
from scipy import stats

sample1 = asia_df['Adult Mortality']
sample2 = asia_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("THEREFORE REDUCTION IN AULTMORTALITY INCREASES LIFEEXPECTANCY")
else:
   print("THEREFORE REDUCTION IN ADULTMORTALITY DECREASES LIFEEXPECTANCY")

T-Statistic: 22.050182180325056
P-Value: 1.4201803274753812e-93
THEREFORE REDUCTION IN AULTMORTALITY INCREASES LIFEEXPECTANCY

In [ ]:
#Does increase in schooling and income composition of resources increase life expectancy?

In [ ]:
import numpy as np
from scipy import stats

sample1 = asia_df['Schooling']
sample2 = asia_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("Increase in schooling increase life expectancy")
else:
   print("Increase in schooling decrease life expectancy")

T-Statistic: -257.97018360034065
P-Value: 0.0
Increase in schooling decrease life expectancy

In [ ]:
import numpy as np
from scipy import stats

sample1 = asia_df['Income composition of resources']
sample2 = asia_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("Increase in income composition of resources increase life expectancy")
else:
   print("Increase in income composition of resources decrease life expectancy")

T-Statistic: -328.5559303722038
P-Value: 0.0
Increase in income composition of resources decrease life expectancy

In [ ]:
import numpy as np
from scipy import stats

sample1 = asia_df['Schooling']
sample2 = asia_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("Increase in schooling increase life expectancy")
else:
   print("Increase in schooling decrease life expectancy")

T-Statistic: -257.97018360034065
P-Value: 0.0
Increase in schooling decrease life expectancy

In [ ]:
#Does schooling have significant impact on income composition of resources?

In [ ]:
import numpy as np
from scipy import stats

sample1 = asia_df['Income composition of resources']
sample2 = asia_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic/2:
  print("schooling have significant impact on income composition of resources")
else:
   print("schooling don't have significant impact on income composition of resources")

T-Statistic: -328.5559303722038
P-Value: 0.0
schooling don't have significant impact on income composition of resources

In [ ]:
#EUROPE-
#Does Life expectancy improve with increase in percentage expenditure, GDP, income composition of resources, and schooling?

In [ ]:
import numpy as np
from scipy import stats

sample1 = eu_df ['Income composition of resources']
sample2 = eu_df ['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic/2:
  print("Life expectancy improve with increase in percentage expenditure")
else:
   print("Life expectancy improve with decrease in percentage expenditure")

T-Statistic: -391.9502368190998
P-Value: 0.0
Life expectancy improve with decrease in percentage expenditure

In [ ]:
import numpy as np
from scipy import stats

sample1 = eu_df['Schooling']
sample2 = eu_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("Life expectancy improve with increase in schooling")
else:
   print("Life expectancy improve with increase in schooling")

T-Statistic: -291.44930819524075
P-Value: 0.0
Life expectancy improve with increase in schooling

In [ ]:
import numpy as np
from scipy import stats

sample1 = eu_df['GDP']
sample2 = eu_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("Life expectancy improve with increase in gdp")
else:
   print("Life expectancy improve with increase in schooling")

T-Statistic: 20.30309114558431
P-Value: 1.9692948491862335e-79
Life expectancy improve with increase in gdp

In [ ]:
import numpy as np
from scipy import stats

sample1 = eu_df['percentage expenditure']
sample2 = eu_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("Life expectancy improve with increase in percentage expenditure")
else:
   print("Life expectancy improve with increase in percentage expenditure")

T-Statistic: 14.73084255160871
P-Value: 2.073805403658391e-45
Life expectancy improve with increase in percentage expenditure

In [ ]:
#Does decrease in thinness  improve life expectancy

In [ ]:
import numpy as np
from scipy import stats

sample1 = eu_df[' thinness 5-9 years']
sample2 = eu_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print(" decrease in thinness  improve life expectancy")
else:
   print(" decrease in thinness  don't improve life expectancy")

T-Statistic: -381.5103741704128
P-Value: 0.0
 decrease in thinness  don't improve life expectancy

In [ ]:
#NORTH AMERICA-
#Does increase in GDP and schooling improve life expectancy?

In [ ]:
import numpy as np
from scipy import stats

sample1 = na_df['GDP']
sample2 = na_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("increase in GDP improve life expectancy")
else:
   print("increase in GDP don't improve life expectancy")

T-Statistic: 13.836399805285179
P-Value: 1.6646890744643184e-38
increase in GDP improve life expectancy

In [ ]:
import numpy as np
from scipy import stats

sample1 = na_df['Schooling']
sample2 = na_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("increase in schooling improve life expectancy")
else:
   print("increase in schooling don't improve life expectancy")

T-Statistic: -210.46042988772862
P-Value: 0.0
increase in schooling don't improve life expectancy

In [ ]:
#Does decrease in adult mortality, thinness and HIV/AIDS  improve life expectancy?

In [ ]:
import numpy as np
from scipy import stats

sample1 = na_df['Adult Mortality']
sample2 = na_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("decrease in adult mortality improve life expectancy")
else:
   print("decrease in adult mortality don't improve life expectancy")

T-Statistic: 13.426841374342821
P-Value: 1.3551843677603011e-36
decrease in adult mortality improve life expectancy

In [ ]:
import numpy as np
from scipy import stats

sample1 = na_df[' thinness 5-9 years']
sample2 = na_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("decrease in thinness improve life expectancy")
else:
   print("decrease in thinness don't improve life expectancy")

T-Statistic: -264.57579330934215
P-Value: 0.0
decrease in thinness don't improve life expectancy

In [ ]:
import numpy as np
from scipy import stats

sample1 = na_df[' HIV/AIDS']
sample2 = na_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("decrease in HIV improve life expectancy")
else:
   print("decrease in HIV don't improve life expectancy")

T-Statistic: -281.3248043066269
P-Value: 0.0
decrease in HIV don't improve life expectancy

In [ ]:
#SOUTH AMERICA-
#Does increase in income composition of resources and schooling improve life expectancy?

In [ ]:
import numpy as np
from scipy import stats

sample1 = eu_df ['Income composition of resources']
sample2 = eu_df ['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic/2:
  print("increase in income composition of resources improve life expectancy")
else:
   print("increase in income composition don't resources improve life expectancy")

T-Statistic: -391.9502368190998
P-Value: 0.0
increase in income composition don't resources improve life expectancy

In [ ]:
import numpy as np
from scipy import stats

sample1 = na_df['Schooling']
sample2 = na_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("increase in schooling improve life expectancy")
else:
   print("increase in  schooling don't improve life expectancyy")

In [ ]:
#Does decrease in adult mortality, thinness and HIV/AIDS  improve life expectancy?

In [ ]:
import numpy as np
from scipy import stats

sample1 = na_df['Adult Mortality']
sample2 = na_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("decrease in adult mortality  improve life expectancy")
else:
   print("decrease in adult mortality don't improve life expectancy")

T-Statistic: 13.426841374342821
P-Value: 1.3551843677603011e-36
decrease in adult mortality  improve life expectancy

In [ ]:
import numpy as np
from scipy import stats

sample1 = na_df[' HIV/AIDS']
sample2 = na_df['Life expectancy ']


t_statistic, p_value = stats.ttest_ind(sample1, sample2)


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value<t_statistic:
  print("decrease in  HIV/AIDS  improve life expectancy")
else:
   print("decrease in  HIV/AIDS don't improve life expectancy")

T-Statistic: -281.3248043066269
P-Value: 0.0
decrease in  HIV/AIDS don't improve life expectancy